@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Libertinus+Mono&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: absolute;
    background-color: rgb(228, 221, 221);
    height: 100vh;
    font-family: "Libertinus Mono", monospace;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(41, 39, 39);
    font-weight: bold;
    cursor: pointer;
    margin-top: 7px;
    margin: -1px;
    width: 0 3px;
}

.btm-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px;
}


.btn:hover {
    color: black;
    background-color: white;
}

.main {
    width: 90vw;
    font-family: "Michroma", sans-serif;
}

h1 {
    font-family: "Alumni Sans SC", sans-serif;
    margin: 23px;
}
.intro{
    margin: 88px;
}

.intro h2 {
    font-family: "Michroma", sans-serif;
    margin: 12px;
}

.intro p {
    font-family: "Tektur", sans-serif;
    margin: 12px;
}

@media (max-width: 1148px){
    *{
        background-color: whitesmoke;
    }
    .sidebar{
        transform: translate(-443px);
        position: absolute;
    }
}

.skillContainer{
    padding: 12px;
    font-family: "Alumni Sans SC", sans-serif;
    margin: 88px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: "Tektur", sans-serif;
    
}

.skill{
    width: 256px;
    height: 6px;
    background-color: black;
    border: 2px solid black;
    
    
}

.expert{
    width: 256px;
    background-color: blue;

}

.intermediate{
    width: 150px;
    background-color: brown;
}

.easy{
    width: 50;
    background-color: red;
}

@media (max-width: 1148px) {
    *{
         /* background-color: whitesmoke; */
    }
        .devpic{
            display: none;
        }

    .intro{
            margin: 50px 8px;
        }
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin: -2px;
    margin-left: 10px;
}

.cross{
    margin-left: 191px;
}

