/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Libertinus+Mono&family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Libertinus+Mono&family=Luckiest+Guy&family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Libertinus+Mono&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Luckiest+Guy&family=Michroma&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wght@400..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added for more predictable layout */
}


.sidebar {
    position: absolute;
    background-color: rgb(228, 221, 221);
    height: 100vh;
    font-family: "Libertinus Mono", monospace;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;

}

.sidebar nav li {
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.sidebarGo+.main {
    margin-left: 0;
    width: 100vw;
}

.main {
    transition: margin-left 0.3s ease-in, width 0.3s ease-in;
    margin-left: 250px;
    width: calc(100vw - 250px);
    box-sizing: border-box;
    font-family: "Michroma", sans-serif;
}


.btn {
    margin-top: 34px;
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: rgb(41, 39, 39);
    font-weight: bold;
    width: 0 3px;
    cursor: pointer;
    margin: -1px;
}

.btn:hover {
    color: black;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
}


.infocontainer {
    height: 57vh;
    width: 80vw;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo {
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello {
    font-size: 3em;
    font-family: "Michroma", sans-serif
}

.name {
    font-size: 3em;
    font-weight: bold;
    font-family: "Tektur", sans-serif;
}

.about {
    font-size: 2.5em;
}

.moreabout {
    font-family: "Libertinus Mono", monospace;
    margin-top: 20px;
    font-size: 1.5em;
}

.buttons {
    margin-top: 2.2em;
    font-size: 5px;
}

.btm-sm {
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.devpic img {
    height: 57vh;
}

@media (max-width: 1148px) {
    * {
        /* background-color: whitesmoke; */
    }

    .buttons {
        font-size: 10px;
    }

    .devinfo {
        font-size: 10px;
    }

    .devpic {
        display: none;
    }
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham {
    margin: -2px;
    margin-left: 10px;
}

.cross {
    margin-left: 191px;
}

/* contact.css additions */
.contactform {
    font-family: "Alumni Sans SC", sans-serif;
    padding: 0 34px;
    font-size: 19px;
    margin: 88px;
}

.contactform h1 {
    font-family: "Alumni Sans SC", sans-serif;
    text-align: center;
    height: 114px;
    padding: 12px 0;
}

.contactform form div {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div {
    /* width: 16vw; */
    border-radius: 10px;
    margin: 6px 0 0 0;
    padding: 3px;
}

.contactform form{
    margin: 0 30px;
}

#emailHelp {
    font-size: 12px;
    color: red;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;


}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

@media (max-width: 1148px) {
    .contactform{
        margin: 50px 8px;
    }
}

/* blog.css additions */
.blogContainer{
    margin: 88px;
}

.blogContainer h1 {
    font-family: "Alumni Sans SC", sans-serif;
    margin: 23px;
}

.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.blogItem h2 {
    font-family: "Michroma", sans-serif;
}

.blogItem p {
    font-family: "Tektur", sans-serif;
}

@media (max-width: 1148px) {
    .blogContainer{
        margin: 50px 8px;
    }
}

/* about.css additions */
h1 {
    font-family: "Alumni Sans SC", sans-serif;
    margin: 23px;
}
.intro{
    margin: 88px;
}

.intro h2 {
    font-family: "Michroma", sans-serif;
    margin: 12px;
}

.intro p {
    font-family: "Tektur", sans-serif;
    margin: 12px;
}

@media (max-width: 1148px){
    *{
        background-color: whitesmoke;
    }
    .sidebar{
        transform: translate(-443px);
        position: absolute;
    }
}

.skillContainer{
    padding: 12px;
    font-family: "Alumni Sans SC", sans-serif;
    margin: 88px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: "Tektur", sans-serif;
    
}

.skill{
    width: 256px;
    height: 6px;
    background-color: black;
    border: 2px solid black;
    
    
}

.expert{
    width: 256px;
    background-color: blue;

}

.intermediate{
    width: 150px;
    background-color: brown;
}

.easy{
    width: 50;
    background-color: red;
}

@media (max-width: 1148px) {
    .intro{
        margin: 50px 8px;
    }
}

/* project.css additions */
.img1 {
    padding: 20px;
    max-width: 100%;
    height: auto;
}
